@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@font-face {
  font-family: SharpSans;
  src: url("../public/fonts/SharpSans.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SharpSansBold;
  src: url("../public/fonts/SharpSans_Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "SharpSans", sans-serif;
}

.flip-animation {
  animation: flip 0.5s infinite;
}

.logo-container {
  position: relative;
  width: 600px;
  height: 600px;
}

.logo-container > .logo-image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.prize-image.large-logo {
  width: 90%;
  height: 90%;
  image-rendering: optimizeQuality;
  object-fit: contain;
}

.prize-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.active-stroke {
  transition: filter 0.3s ease;
}

@keyframes blink {
  0% {
    filter: brightness(2);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Sobe 10px */
  }
  100% {
    transform: translateY(0);
  }
}

.blink {
  animation: blink 0.6s infinite alternate;
}

.jump {
  animation: jump 0.6s infinite alternate;
}

.blink-jump {
  animation: blink 0.6s ease-in-out infinite alternate,
    jump 0.6s infinite alternate;
}

.checkbox {
  transition: transform 0.2s ease;
}

.checkbox.checked {
  animation: bounce 0.5s; /* Animação de bounce */
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
