@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip-animation {
  animation: flip 0.5s infinite;
}

.logo-container {
  position: relative;
  width: 600px;
  height: 600px;
}

.logo-container > .logo-image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.prize-image.large-logo {
  width: 90%;
  height: 90%;
  image-rendering: optimizeQuality;
  object-fit: contain;
}

.prize-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}
