@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@font-face {
  font-family: SharpSans;
  src: url("../public/fonts/SharpSans.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SharpSansBold;
  src: url("../public/fonts/SharpSans_Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "SharpSans", sans-serif;
}

.flip-animation {
  animation: flip 0.5s infinite;
}

.logo-container {
  position: relative;
  width: 600px;
  height: 600px;
}

.logo-container > .logo-image {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.prize-image.large-logo {
  width: 90%;
  height: 90%;
  image-rendering: optimizeQuality;
  object-fit: contain;
}

.prize-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
}
